<%- include('partials/header'); -%>

<h1>About</h1>

<p> We do our best to keep all the content on Site Daily Journal accurate and up-to-date. Since website builders are often changing, we aim to update articles once a year.</p>

<%- include('partials/footer'); -%>
