<%- include('partials/header'); -%>

<h1> Contact </h1>

<p> We would love to hear from you! </p>

<p> Send your feedbacks to <span style="color:red">viby1999@gmail.com</span></p>

<%- include('partials/footer'); -%>
